# Ignore node_modules for both client and server
client/interview-xpert/node_modules/
server/node_modules/

# Ignore environment variables
client/interview-xpert/.env
server/.env

# Optional: macOS, Windows, and IDE junk
.DS_Store
Thumbs.db
*.log
.env
*.env.local

# Optional: VS Code settings
.vscode/

#Ignore package lock files
client/interview-xpert/package-lock.json
server/package-lock.json